name: Build -Push-Deploy
on: 
 push: 
  branch : ["master"]

jobs:
 build_push_deploy:
  runs-on: : ubuntu-latest 

  steps:
  -name: Checkout Code
   uses: actions/checkout@v3
  -name: setup Java
   uses: actions/setup-java@v3
   with:
    distribution: "temurin"
    java-version: "17"

  -name: Build with maven
   run: MVN -B packages

  -name: Login to DockerHub
   uses: docker/login-action@v3
   with:
     username: ${{secrets.DOCKERHUB_USERNAME}}
     password: ${{secrets.DOCKERHUB_TOKEN}}

  -name: Build Docker image
   run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/java-docker-app:latest .

  -name: push image to Dockerhub
   run: docker push ${{secrets.DOCKERHUB_USERNAME}}/java-docker-app:latest

  -name: Deploy container to EC2(ssh)
   uses: applyboy/ssh-action@v1.1.o
    with:
     host: ${{secrets.EC2_HOST}}
      username: ${secrets.EC2_USER}}
      Key: ${{secrets.EC2_SSH_KEY}}

      script:
     #stop and existing container
      docker rm -f javaapp || true
      
      #pull latest image
      docker pull ${{secrets.DOCKERHUB_USERNAME}}/java-docker-app:latest
      #Run the container
      docker run -d -p 8080:8080 --name javaapp ${{secrets.DOCKERHUB_USERNAME}}/java-docker-app:latest

      #show running containers
      docker ps

  
  
  
